@media only screen and (min-width: 993px) {
    nav .brand-logo {
        margin-left: 16px;
        font-size: 2.1em;
    }
}
@media only screen and (max-width: 992px) {
    nav .brand-logo {
        font-size: 3.2vw;
    }
}
@media only screen and (max-width: 414px) {
    nav .brand-logo {
        font-size: 1.6rem;
    }
}
@media only screen and (max-width: 375px) {
    nav .brand-logo {
        font-size: 1.4rem;
    }
}
@media only screen and (max-width: 320px) {
    nav .brand-logo {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 601px) {
    #resultDisp {
        margin-left: calc(100% / 12 * 2);
    }
}


html {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif
}

main {
    margin-top: 16px;
}